/* BASIC & Typography */

@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/proximanova-300-normal.eot');
  src: url('../fonts/proximanova-300-normal.eot?#iefix') format('embedded-opentype'),
       url('../fonts/proximanova-300-normal.woff') format('woff'),
       url('../fonts/proximanova-300-normal.woff2') format('woff2'),
       url('../fonts/proximanova-300-normal.ttf') format('truetype');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/proximanova-400-normal.eot');
  src: url('../fonts/proximanova-400-normal.eot?#iefix') format('embedded-opentype'),
       url('../fonts/proximanova-400-normal.woff') format('woff'),
       url('../fonts/proximanova-400-normal.woff2') format('woff2'),
       url('../fonts/proximanova-400-normal.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/proximanova-500-normal.eot');
  src: url('../fonts/proximanova-500-normal.eot?#iefix') format('embedded-opentype'),
       url('../fonts/proximanova-500-normal.woff') format('woff'),
       url('../fonts/proximanova-500-normal.woff2') format('woff2'),
       url('../fonts/proximanova-500-normal.ttf') format('truetype');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/proximanova-600-normal.eot');
  src: url('../fonts/proximanova-600-normal.eot?#iefix') format('embedded-opentype'),
       url('../fonts/proximanova-600-normal.woff') format('woff'),
       url('../fonts/proximanova-600-normal.woff2') format('woff2'),
       url('../fonts/proximanova-600-normal.ttf') format('truetype');
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/proximanova-700-normal.eot');
  src: url('../fonts/proximanova-700-normal.eot?#iefix') format('embedded-opentype'),
       url('../fonts/proximanova-700-normal.woff') format('woff'),
       url('../fonts/proximanova-700-normal.woff2') format('woff2'),
       url('../fonts/proximanova-700-normal.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'icons';
  src: url('../fonts/icons.eot');
  src: url('../fonts/icons.eot?#iefix') format('embedded-opentype'),
       url('../fonts/icons.ttf') format('truetype'),
       url('../fonts/icons.woff') format('woff'),
       url('../fonts/icons.svg?#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icons' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bookmark:before { content: "\e900"; }
.icon-calendar:before { content: "\e901"; }
.icon-mail:before { content: "\e902"; }
.icon-menu:before { content: "\e903"; }
.icon-message:before { content: "\e907"; }
.icon-search:before { content: "\e904"; }
.icon-settings:before { content: "\e905"; }
.icon-user:before { content: "\e906"; }
.icon-x:before { content: "\e908"; }




*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[tabindex="-1"]:focus {
  outline: 0 !important;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  height: auto;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
  min-height: 100%;
  min-height: 100vh;
}

article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

body {
  background-color: #ffffff;
  color: #212529;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: 'Proxima Nova', Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  min-height: 100vh;
  position: relative;
  text-align: left;
  width: 100%;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  color: inherit;
  font-family: inherit;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: .5rem;
  margin-top: 0;
}

.h5, h5 {
  font-size: 1.25rem;
}

.heading {
  margin-bottom: 1.5rem;
  margin-top: 2.5rem;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a {
  background-color: transparent;
  color: #5a2;
  text-decoration: none;
  -webkit-text-decoration-skip: objects;
}

p {
  margin-bottom: 1rem;
  margin-top: 0;
}

.small, small {
  font-size: 80%;
  font-weight: 400;
}

.lead {
  font-size: 1.25rem;
}

dl, ol, ul {
  margin-bottom: 1rem;
  margin-top: 0;
}

dd {
  margin-bottom: .5rem;
  margin-left: 0;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.figure {
  margin-bottom: 16px;
  margin-left: 0;
  margin-right: 0;
  margin-top: 17px;
}

.figure.left {
  margin-left: -26%;
  margin-right: 0;
}

.figure.right {
  margin-left: 0;
  margin-right: -26%;
}


/* Layout */

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 76rem;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -1rem;
  margin-right: -1rem;
}

.row-xs { margin-left: -.3125rem; margin-right: -.3125rem; }
.row-xs > [class^='col-'], .row-xs > [class*=' col-'], .row-xs > .col { padding-right: .3125rem; padding-left: .3125rem; }

.row-sm { margin-left: -.625rem; margin-right: -.625rem; }
.row-sm > [class^='col-'], .row-sm > [class*=' col-'], .row-sm > .col { padding-right: .625rem; padding-left: .625rem; }

.row-lg { margin-left: -1.5rem; margin-right: -1.5rem; }
.row-lg > [class^='col-'], .row-lg > [class*=' col-'], .row-lg > .col { padding-right: 1.5rem; padding-left: 1.5rem; }

.row-xl { margin-left: -2rem; margin-right: -2rem; }
.row-xl > [class^='col-'], .row-xl > [class*=' col-'], .row-xl > .col { padding-right: 2rem; padding-left: 2rem; }

.col, [class^="col-"], [class*=" col-"] {
  min-height: 1px;
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
  width: 100%;
}

.col { -webkit-flex-basis: 0; -ms-flex-preferred-size: 0; flex-basis: 0; -webkit-box-flex: 1; -webkit-flex-grow: 1; -ms-flex-positive: 1; flex-grow: 1; max-width: 100%; }
.col-auto { -webkit-box-flex: 0; -webkit-flex: 0 0 auto; -ms-flex: 0 0 auto; flex: 0 0 auto; width: auto; }
.col-1 { -webkit-box-flex: 0; -webkit-flex: 0 0 8.333333%; -ms-flex: 0 0 8.333333%; flex: 0 0 8.333333%; max-width: 8.333333%; }
.col-2 { -webkit-box-flex: 0; -webkit-flex: 0 0 16.666667%; -ms-flex: 0 0 16.666667%; flex: 0 0 16.666667%; max-width: 16.666667%; }
.col-3 { -webkit-box-flex: 0; -webkit-flex: 0 0 25%; -ms-flex: 0 0 25%; flex: 0 0 25%; max-width: 25%; }
.col-4 { -webkit-box-flex: 0; -webkit-flex: 0 0 33.333333%; -ms-flex: 0 0 33.333333%; flex: 0 0 33.333333%; max-width: 33.333333%; }
.col-5 { -webkit-box-flex: 0; -webkit-flex: 0 0 41.666667%; -ms-flex: 0 0 41.666667%; flex: 0 0 41.666667%; max-width: 41.666667%; }
.col-6 { -webkit-box-flex: 0; -webkit-flex: 0 0 50%; -ms-flex: 0 0 50%; flex: 0 0 50%; max-width: 50%; }
.col-7 { -webkit-box-flex: 0; -webkit-flex: 0 0 58.333333%; -ms-flex: 0 0 58.333333%; flex: 0 0 58.333333%; max-width: 58.333333%; }
.col-8 { -webkit-box-flex: 0; -webkit-flex: 0 0 66.666667%; -ms-flex: 0 0 66.666667%; flex: 0 0 66.666667%; max-width: 66.666667%; }
.col-9 { -webkit-box-flex: 0; -webkit-flex: 0 0 75%; -ms-flex: 0 0 75%; flex: 0 0 75%; max-width: 75%; }
.col-10 { -webkit-box-flex: 0; -webkit-flex: 0 0 83.333333%; -ms-flex: 0 0 83.333333%; flex: 0 0 83.333333%; max-width: 83.333333%; }
.col-11 { -webkit-box-flex: 0; -webkit-flex: 0 0 91.666667%; -ms-flex: 0 0 91.666667%; flex: 0 0 91.666667%; max-width: 91.666667%; }
.col-12 { -webkit-box-flex: 0; -webkit-flex: 0 0 100%; -ms-flex: 0 0 100%; flex: 0 0 100%; max-width: 100%; }

.justify-content-start { -webkit-box-pack: start !important; -webkit-justify-content: flex-start !important; -ms-flex-pack: start !important; justify-content: flex-start !important; }
.justify-content-end { -webkit-box-pack: end !important; -webkit-justify-content: flex-end !important; -ms-flex-pack: end !important; justify-content: flex-end !important; }
.justify-content-center { -webkit-box-pack: center !important; -webkit-justify-content: center !important; -ms-flex-pack: center !important; justify-content: center !important; }
.justify-content-between { -webkit-box-pack: justify !important; -webkit-justify-content: space-between !important; -ms-flex-pack: justify !important; justify-content: space-between !important; }
.justify-content-around { -webkit-justify-content: space-around !important; -ms-flex-pack: distribute !important; justify-content: space-around !important; }
.align-items-start { -webkit-box-align: start !important; -webkit-align-items: flex-start !important; -ms-flex-align: start !important; align-items: flex-start !important; }
.align-items-end { -webkit-box-align: end !important; -webkit-align-items: flex-end !important; -ms-flex-align: end !important; align-items: flex-end !important; }
.align-items-center { -webkit-box-align: center !important; -webkit-align-items: center !important; -ms-flex-align: center !important; align-items: center !important; }

.d-none { display: none !important; }
.d-inline { display: inline !important; }
.d-inline-block { display: inline-block !important; }
.d-block { display: block !important; }

.text-left { text-align: left !important; }
.text-center { text-align: center !important; }
.text-right { text-align: right !important; }
.text-justify { text-align: justify !important; }

.flex-column {
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
  -webkit-flex-direction: column !important;
  -ms-flex-direction: column !important;
  flex-direction: column !important;
}


/* AD's */

.adv {
  background-color: rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 2px 0 -1px rgba(0, 0, 0, 0.075);
  border-radius: 0.25rem;
  min-height: 20rem;
}


/* Blockquote */

.blockquote {
  background-color: rgba(0, 0, 0, 0.05);
  margin-bottom: 2.25rem;
  margin-left: -12.5%;
  margin-right: -12.5%;
  margin-top: 2rem;
  padding-left: 12.75%;
  padding-right: 12.75%;
}

.blockquote-text {
  font-size: 1.375rem;
  line-height: 2rem;
  margin-bottom: 0px !important;
  margin-top: 0 !important;
  padding-bottom: 3rem;
  padding-top: 3rem;
}

.blockquote-footer {
  margin-top: -3rem;
  padding-bottom: 1rem;
  text-align: right;
}

.blockquote-author {
  display: inline-block;
  font-size: .875rem;
  font-weight: 700;
  letter-spacing: .0625em;
  line-height: 1.5rem;
  position: relative;
  text-transform: uppercase;
}

.blockquote-author:before {
  border-top: 2px solid #d90;
  content: '';
  display: block;
  height: .125rem;
  left: -1.5rem;
  position: absolute;
  top: .625rem;
  width: 1.125rem;
}


/* Buttons */

.btn {
  background-color: #f9f6f3;
  border-radius: .25rem;
  border: 2px solid #c9c2ba;
  border: none;
  box-shadow: inset 0 -2px 0 0 rgba(0,0,0,.15);
  color: #ffffff;
  display: inline-block;
  font-family: inherit;
  font-size: .875rem;
  font-weight: 600;
  letter-spacing: .05em;
  line-height: 1.5;
  padding: .5rem 1rem;
  text-align: center;
  text-transform: uppercase;
  transition: background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.btn:hover, .btn:focus {
  cursor: pointer;
  text-decoration: none;
}

.btn:focus, .btn.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(255, 209, 179, 0.25);
}

.btn.disabled, .btn:disabled {
  opacity: .65;
}

.btn-lg {
  font-size: 1rem;
  padding: .75rem 1.5rem;
}

.btn-wide {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 16rem;
  width: 100%;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-primary { background-color: #6b3; }
.btn-primary:hover { background-color: #5a2; }

.btn-secondary { background-color: #f63; }
.btn-secondary:hover { background-color: #f50; }

.btn-link {
  background-color: transparent;
  color: #f63;
  font-weight: 600;
}


/* Deflist */

.deflist {
  margin-bottom: 0;
  margin-top: 0;
}

.side-block .deflist {
  margin-bottom: 1.75rem;
  margin-top: 1.75rem;
}

.deflist-term {
  color: #656d72;
  font-size: .75rem;
  font-weight: 400;
}

.deflist-definition {
  font-size: 1rem;
  font-weight: 400;
}


/* Ripple */

.rip {
  position: relative;
  overflow: hidden;
}

.ripple{
  animation: rippleEffect .6s 1;
  background-color: #fff;
  border-radius: 50%;
  height: .25rem;
  opacity: 0;
  position: absolute;
  width: .25rem;
}

@-webkit-keyframes rippleEffect {
  from { transform: scale(1); opacity: 0.25; }
  to { transform: scale(100); opacity: 0; }
}

@keyframes rippleEffect {
  from { transform: scale(1); opacity: 0.25; }
  to { transform: scale(100); opacity: 0; }
}


/* Forms */

.form-control::-webkit-input-placeholder { color: #a09990; font-size: .875rem; opacity: 1; }
.form-control::-moz-placeholder { color: #a09990; font-size: .875rem; opacity: 1; }
.form-control:-ms-input-placeholder { color: #a09990; font-size: .875rem; opacity: 1; }
.form-control::-ms-input-placeholder { color: #a09990; font-size: .875rem; opacity: 1; }
.form-control::placeholder { color: #a09990; font-size: .875rem; opacity: 1; }

.form {
  margin-left: .5rem;
  margin-right: .5rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.form-short {
  margin-left: auto;
  margin-right: auto;
  max-width: 384px;
  width: 100%;
}

.form-group {
  margin-bottom: 1rem;
}

.form-button {
  margin-bottom: 1rem;
  margin-top: 1.125rem;
}

.form-footer {
  margin-top: 1.5rem;
}

.form-label {
  color: #7c7973;
  display: block;
  margin-bottom: .5rem;
}

.form small {
  font-size: .75rem;
}

.form-control {
  background-color: #f9f6f3;
  border-radius: .25rem;
  border: 2px solid #e9e3dc;
  color: #494340;
  display: block;
  font-family: inherit;
  font-size: 1rem;
  line-height: 1.5;
  padding: .375rem .75rem;
  transition: background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  width: 100%;
}

.form-control::-ms-expand {
  background-color: transparent;
  border: 0;
}
  
.form-control:focus {
  background-color: #ffffff;
  border-color: #ffb380;
  box-shadow: 0 0 0 0.2rem rgba(255, 209, 179, 0.25);
  color: #495057;
  outline: 0;
}

.form-control.area {
  resize: none;
}


/* Custom controls */

.custom-control {
  display: inline-block;
  min-height: 1.5rem;
  padding-left: 1.5rem;
  position: relative;
}

.custom-control-input {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.custom-control-label {
  margin-bottom: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.custom-control-label:before {
  background-color: #f9f6f3;
  border-radius: 0.25rem;
  box-shadow: inset 0 0 0 2px #c9c2ba;
  content: "";
  display: block;
  height: 1rem;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: .25rem;
  width: 1rem;
}

.custom-control-input:focus ~ .custom-control-label:before {
  box-shadow: inset 0 0 0 2px #c9c2ba, 0 0 0 0.2rem rgba(102, 187, 51, 0.25);
}

.custom-control-input:checked ~ .custom-control-label:before {
  background-color: #6b3;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23ffffff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 50% 50%;
  box-shadow: 0 0 0 1px #ffffff;
}

.custom-control-input:checked:focus ~ .custom-control-label:before {
  box-shadow: 0 0 0 1px #ffffff, 0 0 0 0.2rem rgba(102, 187, 51, 0.25);
}


/* Form validation */

.invalid-feedback {
  color: #f30;
  display: none;
  font-size: .625rem;
  letter-spacing: 0.075em;
  margin-top: .125rem;
  text-transform: uppercase;
  width: 100%;
}

.was-validated .form-control:valid {
  background-color: #ffffff;
  border-color: #6c5;
}

.was-validated .form-control:valid:focus {
  box-shadow: 0 0 0 0.2rem rgba(102, 204, 85, 0.125);
}

.form-control.is-invalid,
.was-validated .form-control:invalid,
.was-validated .custom-checkbox .custom-control-input:invalid ~ .custom-control-label:before {
  border-color: #f30;
}

.form-control.is-invalid ~ .invalid-feedback,
.was-validated .form-control:invalid ~ .invalid-feedback,
.was-validated .custom-control-input:invalid ~ .invalid-feedback {
  display: block;
}

.was-validated .custom-checkbox .custom-control-input:checked:valid ~ .custom-control-label:before {
  background-color: #6c5;
}

.needs-validation.is-valid .btn { background-color: #6b3; }
.needs-validation.is-valid .btn:hover { background-color: #5a2; }


/* List Group */

.list-group {
  display: block;
  list-style: none;
  margin-bottom: 1rem;
  margin-top: 0;
  padding: 0;
}

.room-item,
.list-group-link,
.sublist-item:not(:first-child) {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='3' height='1'%3E%3Crect width='1' height='1' fill-opacity='0.5' /%3E%3C/svg%3E");
  background-position: 0 0;
  background-repeat: repeat-x;
}

.list-group-link {
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  color: #494340;
  display: block;
  font-family: inherit;
  font-size: .875rem;
  font-weight: 500;
  line-height: inherit;
  margin-bottom: 1px;
  padding: .5rem .75rem;
  text-align: inherit;
  transition: background-color .15s ease-in-out, box-shadow .15s ease-in-out;
  width: 100%;
}

.list-group-link:hover,
.list-group-link:focus {
  cursor: pointer;
  outline: none;
}

.room-item:first-child,
.list-group-item:first-child .list-group-link {
  background-image: none;
}

.room-item.active,
.active > .list-group-link {
  background-color: #ffffff;
  background-image: none;
  border-radius: .25rem;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
  color: #5a2;
}

.room-item.active + .room-item,
.active + .list-group-item .list-group-link {
  background-image: none;
}

.list-group-areas {
  margin-bottom: 0;
}

.list-group-areas .list-group-link {
  font-size: .875rem;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;
}

.list-group-areas .list-group-link:hover {
  background-color: #5a2;
  background-image: none;
  border-radius: .25rem;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
  color: #ffffff;
}

.list-group-areas .list-group-item:hover + .list-group-item .list-group-link {
  background-image: none;
}

.sublist {
  display: block;
  list-style: none;
  margin: 0;
  padding: 1.125rem 0 .5rem 1.5rem;
}

.sublist-item.active {
  background-color: #ffffff;
  border-radius: .25rem;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
  margin-left: -.5rem;
  padding-left: .5rem;
}

.sublist-item.active,
.sublist-item.active + .sublist-item {
  background-image: none;
}

.sublist-link {
  color: #494340;
  display: block;
  font-size: .875rem;
  font-weight: 500;
  line-height: 1.25;
  margin-bottom: 1px;
  padding: .25rem 0;
}

.sublist-item.active .sublist-link {
  color: #5a2;
}


/* Modal */

.modal {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

.modal-show {
  visibility: visible;
}

.modal-content {
  max-width: 630px;
  min-width: 320px;
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 2;
}

.modal-close {
  background-color: transparent;
  border: none;
  border-radius: .25rem 0 0 .25rem;
  color: #fff;
  font-size: 2rem;
  height: 3rem;
  line-height: 3rem;
  padding: 0;
  position: absolute;
  right: 1rem;
  text-align: center;
  top: 1rem;
  -webkit-transition: background-color .15s;
  -moz-transition: background-color .15s;
  transition: background-color .15s;
  width: 3rem;
  z-index: 2;
}

.modal-close:focus,
.modal-close:hover {
  background-color: rgba(0, 0, 0, 0.15);
  cursor: pointer;
  outline: none;
}

.modal-show .modal-content {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

.modal-heading {
  color: #fff;
  font-size: 2rem;
  margin: 0;
  padding: 1rem;
}

.modal-body {
  background-color: #ffffff;
  border-radius: .25rem;
  font-size: 1.15em;
  font-weight: 300;
  margin: 0;
  padding: 1.5rem 2rem;
}

.modal-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  visibility: hidden;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
  background-color: rgba(130, 121, 115, 0.85);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.modal-show .modal-overlay {
  opacity: 1;
  visibility: visible;
}


/* Navs */

.nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin-bottom: 0;
  margin-left: -1rem;
  margin-right: -1rem;
  margin-top: 0;
  padding-left: 0;
}

.nav-link {
  display: block;
  padding: .5rem 1rem;
}

.nav-icon {
  background-color: transparent;
  border: none;
  color: inherit;
  font-size: 1.5rem;
  height: 1.75rem;
  padding: 0;
  text-align: center;
}

.nav-icon:focus,
.nav-icon:hover {
  cursor: pointer;
  outline: none;
}

.menu-link {
  border: 2px solid transparent;
  color: #494340;
  font-size: .875rem;
  font-weight: 700;
  letter-spacing: 0.05em;
  padding: .25rem .75rem;
  position: relative;
  text-transform: uppercase;
  -webkit-transition: color .5s ease-in-out;
  -o-transition: color .1s ease-in-out;
  transition: color .1s ease-in-out;
  z-index: 1;
}


/* Panels */

.panels {
  margin-bottom: 2rem;
}

.panel {
  background-color: #ffffff;
  border-radius: .25rem;
  box-shadow: 0 2px 0 -1px rgba(0, 0, 0, 0.15);
  transition: background-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.panel + .panel {
  margin-top: .625rem;
}

.panel-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
}

.panel-title {
  color: #5a2;
  display: block;
  font-size: 1.25rem;
  line-height: 1;
  margin-top: -.25rem;
  margin-bottom: .75rem;
}

.panel-text {
  color: #494340;
  font-size: .875rem;
  line-height: 1.33333333;
  margin-bottom: 0;
  text-align: justify;
}

.panel-props {
  margin-bottom: -.25rem;
  margin-top: .625rem;
}

.panel-prop {
  color: #50565c;
  font-size: 14px;
  padding-right: .5rem;
}

.panel-date,
.panel-price {
  font-weight: 600;
}

.panel-status {
  color: #f63;
  font-weight: 700;
  text-transform: uppercase;
}


/* Rating */

.rating, .rating:after {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19' height='16' viewBox='0 0 19 16'%3E%3Cpath fill='%23d6d5d4' d='M8 .5l2.6 4.7 5.4 1-3.8 4 .8 5.3-5-2.3-5 2.3.8-5.3-3.8-4 5.4-1'/%3E%3C/svg%3E");
  background-position: 0 0;
  background-repeat: repeat-x;
  display: inline-block;
  height: 20px;
  margin-right: .25rem;
  min-width: 95px;
  position: relative;
  vertical-align: middle;
}

.rating:after {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19' height='16' viewBox='0 0 19 16'%3E%3Cpath fill='%23ff7f2a' d='M8 .5l2.6 4.7 5.4 1-3.8 4 .8 5.3-5-2.3-5 2.3.8-5.3-3.8-4 5.4-1'/%3E%3C/svg%3E");
  content: "";
  left: 0;
  position: absolute;
  top: 0;
  width: 0;
}

.rating.one:after { width: 19px }
.rating.two:after { width: 38px }
.rating.three:after { width: 57px }
.rating.four:after { width: 76px }
.rating.five:after { width: 95px }

.rating-text {
  display: block;
  font-size: .75rem;
}


/* Spinner */

.spinner {
  -ms-flex-align: center;
  align-items: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 10rem;
}

.dot {
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out both;
  animation: bouncedelay 1.4s infinite ease-in-out both;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  display: inline-block;
  height: .75rem;
  margin-left: .25rem;
  margin-right: .25rem;
  width: .75rem;
}

.dot.one {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.dot.two {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1) }
}

@keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0); transform: scale(0) }
  40% { transform: scale(1); -webkit-transform: scale(1); }
}


/* Utilities */

.max-768 {
  margin-left: auto;
  margin-right: auto;
  max-width: 54.25rem;
}

.separator {
  font-size: 75%;
  margin-left: 1rem;
  margin-right: 1rem;
  opacity: .5;
  vertical-align: baseline;
}

.text-muted {
  opacity: .75;
}


/* PAGE */

#app {
  height: 100%;
}

#page, #main, .section, #chat-body, .panel {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
}

#page {
  background-color: #eee;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 3840px;
  min-height: 100vh;
  overflow: hidden;
  -webkit-transition: background-color .5s ease-in-out;
  -o-transition: background-color .1s ease-in-out;
  transition: background-color .1s ease-in-out;
  width: 100%;
}

#page.auth {
  background-color: #ffffff;
}

#page.auth:before,
#page.auth:after {
  border-width: 50vw;
  border-style: solid;
  border-color: transparent;
  content: '';
  display: block;
  height: 0;
  position: absolute;
  transition: border 1s ease-out;
  width: 0;
}

#page.auth.ready:before,
#page.auth.ready:after {
  border-width: 17vw;
}

#page.auth:before {
  border-top-color: #f3f0ec;
  border-left-color: #f3f0ec;
  left: 0;
  top: 0;
}

#page.auth:after {
  border-bottom-color: #f3f0ec;
  border-right-color: #f3f0ec;
  right: 0;
  bottom: 4.5rem;
}

#page.auth .page-header {
  background-color: transparent;
  box-shadow: none;
}


/* Header */

#header {
  background-color: #fff;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

#page.home #header {
  background-color: #ffffff;
}

#page.auth #header {
  background-color: transparent;
}

#logo {
  display: block;
  height: 42px;
}

.city-link {
  background-color: transparent;
  border: none;
  color: #494340;
  display: block;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin-left: 1rem;
  margin-right: .5rem;
}

.city-link:hover,
.city-link:focus {
  cursor: pointer;
  outline: none;
}

.city-toggle {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='3' height='1'%3E%3Crect width='1' height='1' fill-opacity='0.5' /%3E%3C/svg%3E");
  background-position: 50% 100%;
  background-repeat: repeat-x;
  color: #494340;
  display: inline-block;
}

.menu-link.active {
  color: #5a2;
}

.message-icon {
  border-radius: .125rem;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25), 0 2px 4px -2px rgba(0, 0, 0, 0.5);
  display: inline-block;
}

.messages-link {
  display: block;
  height: 18px;
}

.profile-link {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #494340;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: .3125rem;
  transition: background-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.profile-link:hover {
  background-color: #ffffff;
  border-radius: .25rem;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
}

.user-image {
  background-color: #d6d3d0;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 150 150'%3E%3Ccircle fill-opacity='0.25' cx='75' cy='55' r='28' /%3E%3Ccircle fill-opacity='0.25' cx='75' cy='150' r='51' /%3E%3C/svg%3E");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  height: 2rem;
  width: 2rem;
}

.user-image-md {
  height: 4rem;
  width: 4rem;
}

.user-image-lg {
  height: 6rem;
  width: 6rem;
}

.profile-title {
  font-size: .875rem;
  padding-left: .75rem;
  padding-right: .75rem;
}

#nav-toggle {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: block;
  height: 26px;
  padding: 0;
  width: 36px;
}

#nav-toggle:hover,
#nav-toggle:focus {
  cursor: pointer;
  outline: none;
}


/* MAIN */

#main {
  flex-grow: 1;
  z-index: 1;
}

.section,
.section .container {
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.page-header {
  background-color: rgba(0, 0, 0, 0.07);
  background-color: rgba(255, 255, 255, 0.5);
  border-top: 1px solid rgba(0, 0, 0, 0.07);
  box-shadow: 0 0.125rem 0.25rem -0.125rem rgba(0, 0, 0, .25);
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.page-image {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 24rem;
  margin-bottom: -1rem;
  margin-top: 1rem;
}

.page-heading {
  color: #494340;
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 1.125;
  margin-bottom: 1.625rem;
  margin-top: 0;
}

.page-header .page-heading {
  margin-bottom: 0;
}


/* Article */

.article-header {
  margin-bottom: 3rem;
  text-align: center;
}

.article-heading {
  margin-bottom: 0;
}

.article-lead {
  margin-top: 0;
}

.article-body {
  font-size: 18px;
  line-height: 26px;
  padding-top: 3rem;
}

.article h2 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 2.5rem;
  margin-top: 2.25rem;
  text-transform: uppercase;
}

.article p {
  margin-bottom: 1rem;
  margin-top: .625rem;
}

.article-footer {
  margin-bottom: 3.625rem;
  margin-top: 3.125rem;
}

.article-tags {
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  margin-right: 10px;
  text-transform: uppercase;
}

.tags {
  display: inline-block;
  font-size: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

.tags li {
  display: inline-block;
}

.tag {
  color: #999;
  font-size: 16px;
  margin-right: 5px;
}

.tag:hover {
  color: #f60;
}

.tag:after {
  content: ',';
}

.tags li:last-child .tag:after {
  content: '';
}



/* Chat */

#chat-section {
  max-height: calc(100vh - 17rem);
}

#chat-section .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

#chat-section .container,
#chat-section .row {
  flex-grow: 1;
  height: 100%;
}

#chat {
  background-color: #ffffff;
  border-radius: .25rem;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  padding: .5rem;
  position: relative;
}

#chat:before {
  box-shadow: 0 2px 8px #ffffff;
  content: '';
  display: block;
  height: 1rem;
  left: 0;
  position: absolute;
  top: -1rem;
  width: 100%;
  z-index: 1;
}

#chat.empty {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(136, 119, 102, 0.125);
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.25);
  color: #876;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

#chat.empty:before {
  display: none;
}

#chat-body {
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: reverse !important;
  -webkit-flex-direction: column-reverse !important;
  -ms-flex-direction: column-reverse !important;
  flex-direction: column-reverse !important;
  flex-grow: 1;
  overflow: auto;
  padding: .5rem;
}

.message {
  clear: both;
  float: left;
  font-size: 14px;
  margin-bottom: .5rem;
  margin-top: .5rem;
  width: 100%;
}

.message-text {
  background-color: #f3f0ec;
  border-radius: .25rem;
  padding: .375rem .75rem;
}

.message.left .message-text {
  background-color: #d3f0b0;
  float: left;
}

.message.right .message-text {
  float: right;
}

#chat-form {
  flex-shrink: 0;
  height: 5rem;
  z-index: 1;
}

#chat-form .form-control {
  height: 100%;
}


/* SECTION: Home video */

#section-video {
  background-color: #ccc;
  height: 384px;
}

#section-video .container {
  position: relative;
  z-index: 1;
}

#section-video .bg {
  background-color: #ccc;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}


/* Home Categories */

.homecategory {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: .125rem;
  box-shadow: 0 2px 0 -1px rgba(0, 0, 0, 0.15);
  color: #5a2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 1rem;
  font-weight: 700;
  height: 5.5rem;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: .25rem;
  margin-top: .25rem;
  padding-left: 1rem;
  padding-right: 1rem;
}


/* SECTION: Auth */

#auth {
  flex-grow: 1;
}


/* Task List */

.side-block + .side-block {
  margin-top: 2rem;
}


/* Task Detail */

#task-details .panel-body {
  padding-left: 2rem;
  padding-right: 2rem;
}

.breadchain {
  color: #876;
  display: block;
  font-size: 14px;
  margin-bottom: 1.5rem;
  margin-top: -1rem;
  position: relative;
}

.breadchain .separator {
  margin-left: 4px;
  margin-right: 4px;
}

.panel-details {
  border-bottom: 1px solid #ddd9d5;
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.25;
  margin: 0rem -2rem 1.625rem;
  padding: .75rem 2rem;
}

.panel-details p,
.panel-details ul {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.panel-details ul {
  list-style: none;
  padding-left: 0;
}

.panel-details li:before {
  content: '\2013';
  display: inline-block;
  margin-right: .5rem;
}

.task-heading {
  color: #494340;
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 1.125;
  margin-bottom: 1.5rem;
  margin-top: 0;
}

.task-price {
  color: #592;
  font-size: 1.5rem;
  line-height: 1.45;
  margin-bottom: 1.5rem;
  text-align: center;
}


/* Sidebar Profile */

.profile-image {
  background-color: #d6d3d0;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 150 150'%3E%3Ccircle fill-opacity='0.25' cx='75' cy='55' r='28' /%3E%3Ccircle fill-opacity='0.25' cx='75' cy='150' r='51' /%3E%3C/svg%3E");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: .25rem;
  display: block;
  height: 2.25rem;
  margin-top: .25rem;
  width: 2.25rem;
}

.profile-image-sm {
  height: 3.25rem;
  width: 3.25rem;
}

.profile-image-md {
  height: 4rem;
  width: 4rem;
}

.profile-name {
  font-size: 1.25rem;
  margin-bottom: .125rem;
  position: relative;
  top: -.125rem;
}

.aside-profile .profile-rating {
  font-size: .75rem;
  margin-top: .75rem;
  margin-bottom: .75rem;
}


/* Search form */

#search .modal-content {
  background-color: transparent;
  border-radius: 0;
  box-shadow: none;
  color: #fff;
}

.form-control-line {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  border: 0;
  border-bottom: .125rem solid;
  border-radius: 0;
  color: #fff;
  display: inline-block;
  font-family: inherit;
  font-size: 2rem;
  padding: 0 2.5rem .5rem 0;
  pointer-events: auto;
  width: 100%;
}

.form-control-line:focus,
.form-control-line:hover {
  outline: none;
}

#search-form {
  min-width: 576px;
  position: relative;
}

#search-btn {
  color: inherit;
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 2rem;
  background-color: transparent;
  border: none;
  padding: 0;
  text-align: center;
  height: 2em;
  width: 1em;
}


















/* Room Contact */

.room-item {
  color: #876;
  display: block;
  font-size: .75rem;
  height: 4.375rem;
  line-height: 1;
  padding: .75rem;
  padding-left: 4.375rem;
  position: relative;
}

.room-item:hover,
.room-item.active {
  color: #f60;
  cursor: pointer;
}

.room-item.active {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
}

.room-item.active:after {
  border-top: .25rem dotted rgba(136, 119, 102, 0.5);
  content: '';
  display: block;
  height: .25rem;
  margin-top: -.125rem;
  position: absolute;
  right: -1.6875rem;
  top: 50%;
  width: 1.375rem;
}

.room-item-image {
  display: block;
  height: 2.625rem;
  left: .875rem;
  position: absolute;
  top: .875rem;
  width: 2.625rem;
}

.room-item-name {
  display: block;
  font-size: 1rem;
}

.room-item-subject {
  display: block;
  height: .875rem;
  line-height: .875rem;
  margin-bottom: .25rem;
}

.room-item-lastmessage {
  color: #876;
  display: block;
  height: .75rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}


/* Profile */

#detail {
  background-color: #ffffff;
  box-shadow: 0 0.125rem 0.25rem -0.125rem rgba(0, 0, 0, .25);
  padding-top: 0;
}

.profile-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.375;
  margin-top: 2rem;
  /* padding: .5rem .75rem; */
  white-space: pre-line;
  word-break: break-word;
}

.profile-image {
  height: 6rem;
  width: 6rem;
}


/* hero */

#section-hero {
  background-color: #fff;
  background-image: url('https://cdn.dribbble.com/users/120400/screenshots/4703749/artboard_12.png');
  background-position: 50%;
  background-repeat: no-repeat;
  height: 32rem;
  position: relative;
}

#section-hero:before {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 200 17'%3E%3Cpath fill='%23f3f0ec' d='M201 1c-35 11-66 16-101 16S34 12-1 1v17h202z'/%3E%3C/svg%3E");
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: 100% auto;
  bottom: 0;
  content: '';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 1;
}
















/* Footer */

#footer {
  background-color: #50565c;
  color: #a3a6a9;
  padding-bottom: 1rem;
  padding-top: 1rem;
  position: relative;
  z-index: 5;
}

.footer-link {
  color: #cfc9c0;
}

.footer-link:hover {
  color: #6b3;
}


/* MEDIA queries */

@media (min-width: 576px){

  .col-sm { -webkit-flex-basis: 0; -ms-flex-preferred-size: 0; flex-basis: 0; -webkit-box-flex: 1; -webkit-flex-grow: 1; -ms-flex-positive: 1; flex-grow: 1; max-width: 100%; }
  .col-sm-auto { -webkit-box-flex: 0; -webkit-flex: 0 0 auto; -ms-flex: 0 0 auto; flex: 0 0 auto; width: auto; }
  .col-sm-1 { -webkit-box-flex: 0; -webkit-flex: 0 0 8.333333%; -ms-flex: 0 0 8.333333%; flex: 0 0 8.333333%; max-width: 8.333333%; }
  .col-sm-2 { -webkit-box-flex: 0; -webkit-flex: 0 0 16.666667%; -ms-flex: 0 0 16.666667%; flex: 0 0 16.666667%; max-width: 16.666667%; }
  .col-sm-3 { -webkit-box-flex: 0; -webkit-flex: 0 0 25%; -ms-flex: 0 0 25%; flex: 0 0 25%; max-width: 25%; }
  .col-sm-4 { -webkit-box-flex: 0; -webkit-flex: 0 0 33.333333%; -ms-flex: 0 0 33.333333%; flex: 0 0 33.333333%; max-width: 33.333333%; }
  .col-sm-5 { -webkit-box-flex: 0; -webkit-flex: 0 0 41.666667%; -ms-flex: 0 0 41.666667%; flex: 0 0 41.666667%; max-width: 41.666667%; }
  .col-sm-6 { -webkit-box-flex: 0; -webkit-flex: 0 0 50%; -ms-flex: 0 0 50%; flex: 0 0 50%; max-width: 50%; }
  .col-sm-7 { -webkit-box-flex: 0; -webkit-flex: 0 0 58.333333%; -ms-flex: 0 0 58.333333%; flex: 0 0 58.333333%; max-width: 58.333333%; }
  .col-sm-8 { -webkit-box-flex: 0; -webkit-flex: 0 0 66.666667%; -ms-flex: 0 0 66.666667%; flex: 0 0 66.666667%; max-width: 66.666667%; }
  .col-sm-9 { -webkit-box-flex: 0; -webkit-flex: 0 0 75%; -ms-flex: 0 0 75%; flex: 0 0 75%; max-width: 75%; }
  .col-sm-10 { -webkit-box-flex: 0; -webkit-flex: 0 0 83.333333%; -ms-flex: 0 0 83.333333%; flex: 0 0 83.333333%; max-width: 83.333333%; }
  .col-sm-11 { -webkit-box-flex: 0; -webkit-flex: 0 0 91.666667%; -ms-flex: 0 0 91.666667%; flex: 0 0 91.666667%; max-width: 91.666667%; }
  .col-sm-12 { -webkit-box-flex: 0; -webkit-flex: 0 0 100%; -ms-flex: 0 0 100%; flex: 0 0 100%; max-width: 100%; }

  .justify-content-sm-start { -webkit-box-pack: start !important; -webkit-justify-content: flex-start !important; -ms-flex-pack: start !important; justify-content: flex-start !important; }
  .justify-content-sm-end { -webkit-box-pack: end !important; -webkit-justify-content: flex-end !important; -ms-flex-pack: end !important; justify-content: flex-end !important; }
  .justify-content-sm-center { -webkit-box-pack: center !important; -webkit-justify-content: center !important; -ms-flex-pack: center !important; justify-content: center !important; }
  .justify-content-sm-between { -webkit-box-pack: justify !important; -webkit-justify-content: space-between !important; -ms-flex-pack: justify !important; justify-content: space-between !important; }
  .justify-content-sm-around { -webkit-justify-content: space-around !important; -ms-flex-pack: distribute !important; justify-content: space-around !important; }
  .align-items-sm-start { -webkit-box-align: start !important; -webkit-align-items: flex-start !important; -ms-flex-align: start !important; align-items: flex-start !important; }
  .align-items-sm-end { -webkit-box-align: end !important; -webkit-align-items: flex-end !important; -ms-flex-align: end !important; align-items: flex-end !important; }
  .align-items-sm-center { -webkit-box-align: center !important; -webkit-align-items: center !important; -ms-flex-align: center !important; align-items: center !important; }

  .order-sm-first { -webkit-box-ordinal-group: 0; -ms-flex-order: -1; order: -1;}
  .order-sm-last { -webkit-box-ordinal-group: 14; -ms-flex-order: 13; order: 13;}
  .order-sm-0 { -webkit-box-ordinal-group: 1; -ms-flex-order: 0; order: 0;}
  .order-sm-1 { -webkit-box-ordinal-group: 2; -ms-flex-order: 1; order: 1;}
  .order-sm-2 { -webkit-box-ordinal-group: 3; -ms-flex-order: 2; order: 2;}
  .order-sm-3 { -webkit-box-ordinal-group: 4; -ms-flex-order: 3; order: 3;}
  .order-sm-4 { -webkit-box-ordinal-group: 5; -ms-flex-order: 4; order: 4;}

  .d-sm-none { display: none !important; }
  .d-sm-inline { display: inline !important; }
  .d-sm-inline-block { display: inline-block !important; }
  .d-sm-block { display: block !important; }

  .text-sm-left { text-align: left !important; }
  .text-sm-center { text-align: center !important; }
  .text-sm-right { text-align: right !important; }
  .text-sm-justify { text-align: justify !important; }

  .h1, h1 { font-size: 4.25rem; }
  .h2, h2 { font-size: 3.375rem; }
  .h3, h3 { font-size: 2.5rem; }
  .h4, h4 { font-size: 1.75rem; }
  .h5, h5 { font-size: 1.25rem; }
  .h6, h6 { font-size: 1rem; }

}

@media (min-width: 768px){

  .col-md { -webkit-flex-basis: 0; -ms-flex-preferred-size: 0; flex-basis: 0; -webkit-box-flex: 1; -webkit-flex-grow: 1; -ms-flex-positive: 1; flex-grow: 1; max-width: 100%; }
  .col-md-auto { -webkit-box-flex: 0; -webkit-flex: 0 0 auto; -ms-flex: 0 0 auto; flex: 0 0 auto; width: auto; }
  .col-md-1 { -webkit-box-flex: 0; -webkit-flex: 0 0 8.333333%; -ms-flex: 0 0 8.333333%; flex: 0 0 8.333333%; max-width: 8.333333%; }
  .col-md-2 { -webkit-box-flex: 0; -webkit-flex: 0 0 16.666667%; -ms-flex: 0 0 16.666667%; flex: 0 0 16.666667%; max-width: 16.666667%; }
  .col-md-3 { -webkit-box-flex: 0; -webkit-flex: 0 0 25%; -ms-flex: 0 0 25%; flex: 0 0 25%; max-width: 25%; }
  .col-md-4 { -webkit-box-flex: 0; -webkit-flex: 0 0 33.333333%; -ms-flex: 0 0 33.333333%; flex: 0 0 33.333333%; max-width: 33.333333%; }
  .col-md-5 { -webkit-box-flex: 0; -webkit-flex: 0 0 41.666667%; -ms-flex: 0 0 41.666667%; flex: 0 0 41.666667%; max-width: 41.666667%; }
  .col-md-6 { -webkit-box-flex: 0; -webkit-flex: 0 0 50%; -ms-flex: 0 0 50%; flex: 0 0 50%; max-width: 50%; }
  .col-md-7 { -webkit-box-flex: 0; -webkit-flex: 0 0 58.333333%; -ms-flex: 0 0 58.333333%; flex: 0 0 58.333333%; max-width: 58.333333%; }
  .col-md-8 { -webkit-box-flex: 0; -webkit-flex: 0 0 66.666667%; -ms-flex: 0 0 66.666667%; flex: 0 0 66.666667%; max-width: 66.666667%; }
  .col-md-9 { -webkit-box-flex: 0; -webkit-flex: 0 0 75%; -ms-flex: 0 0 75%; flex: 0 0 75%; max-width: 75%; }
  .col-md-10 { -webkit-box-flex: 0; -webkit-flex: 0 0 83.333333%; -ms-flex: 0 0 83.333333%; flex: 0 0 83.333333%; max-width: 83.333333%; }
  .col-md-11 { -webkit-box-flex: 0; -webkit-flex: 0 0 91.666667%; -ms-flex: 0 0 91.666667%; flex: 0 0 91.666667%; max-width: 91.666667%; }
  .col-md-12 { -webkit-box-flex: 0; -webkit-flex: 0 0 100%; -ms-flex: 0 0 100%; flex: 0 0 100%; max-width: 100%; }

  .justify-content-md-start { -webkit-box-pack: start !important; -webkit-justify-content: flex-start !important; -ms-flex-pack: start !important; justify-content: flex-start !important; }
  .justify-content-md-end { -webkit-box-pack: end !important; -webkit-justify-content: flex-end !important; -ms-flex-pack: end !important; justify-content: flex-end !important; }
  .justify-content-md-center { -webkit-box-pack: center !important; -webkit-justify-content: center !important; -ms-flex-pack: center !important; justify-content: center !important; }
  .justify-content-md-between { -webkit-box-pack: justify !important; -webkit-justify-content: space-between !important; -ms-flex-pack: justify !important; justify-content: space-between !important; }
  .justify-content-md-around { -webkit-justify-content: space-around !important; -ms-flex-pack: distribute !important; justify-content: space-around !important; }
  .align-items-md-start { -webkit-box-align: start !important; -webkit-align-items: flex-start !important; -ms-flex-align: start !important; align-items: flex-start !important; }
  .align-items-md-end { -webkit-box-align: end !important; -webkit-align-items: flex-end !important; -ms-flex-align: end !important; align-items: flex-end !important; }
  .align-items-md-center { -webkit-box-align: center !important; -webkit-align-items: center !important; -ms-flex-align: center !important; align-items: center !important; }

  .order-md-first { -webkit-box-ordinal-group: 0; -ms-flex-order: -1; order: -1;}
  .order-md-last { -webkit-box-ordinal-group: 14; -ms-flex-order: 13; order: 13;}
  .order-md-0 { -webkit-box-ordinal-group: 1; -ms-flex-order: 0; order: 0;}
  .order-md-1 { -webkit-box-ordinal-group: 2; -ms-flex-order: 1; order: 1;}
  .order-md-2 { -webkit-box-ordinal-group: 3; -ms-flex-order: 2; order: 2;}
  .order-md-3 { -webkit-box-ordinal-group: 4; -ms-flex-order: 3; order: 3;}
  .order-md-4 { -webkit-box-ordinal-group: 5; -ms-flex-order: 4; order: 4;}

  .d-md-none { display: none !important; }
  .d-md-inline { display: inline !important; }
  .d-md-inline-block { display: inline-block !important; }
  .d-md-block { display: block !important; }

  .text-md-left { text-align: left !important; }
  .text-md-center { text-align: center !important; }
  .text-md-right { text-align: right !important; }
  .text-md-justify { text-align: justify !important; }

  .h1, h1 { font-size: 4.25rem; }
  .h2, h2 { font-size: 3.375rem; }
  .h3, h3 { font-size: 2.5rem; }
  .h4, h4 { font-size: 1.75rem; }
  .h5, h5 { font-size: 1.25rem; }
  .h6, h6 { font-size: 1rem; }

  .section,
  .section .container {
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
  }

}

@media (min-width: 992px){

  .col-lg { -webkit-flex-basis: 0; -ms-flex-preferred-size: 0; flex-basis: 0; -webkit-box-flex: 1; -webkit-flex-grow: 1; -ms-flex-positive: 1; flex-grow: 1; max-width: 100%; }
  .col-lg-auto { -webkit-box-flex: 0; -webkit-flex: 0 0 auto; -ms-flex: 0 0 auto; flex: 0 0 auto; width: auto; }
  .col-lg-1 { -webkit-box-flex: 0; -webkit-flex: 0 0 8.333333%; -ms-flex: 0 0 8.333333%; flex: 0 0 8.333333%; max-width: 8.333333%; }
  .col-lg-2 { -webkit-box-flex: 0; -webkit-flex: 0 0 16.666667%; -ms-flex: 0 0 16.666667%; flex: 0 0 16.666667%; max-width: 16.666667%; }
  .col-lg-3 { -webkit-box-flex: 0; -webkit-flex: 0 0 25%; -ms-flex: 0 0 25%; flex: 0 0 25%; max-width: 25%; }
  .col-lg-4 { -webkit-box-flex: 0; -webkit-flex: 0 0 33.333333%; -ms-flex: 0 0 33.333333%; flex: 0 0 33.333333%; max-width: 33.333333%; }
  .col-lg-5 { -webkit-box-flex: 0; -webkit-flex: 0 0 41.666667%; -ms-flex: 0 0 41.666667%; flex: 0 0 41.666667%; max-width: 41.666667%; }
  .col-lg-6 { -webkit-box-flex: 0; -webkit-flex: 0 0 50%; -ms-flex: 0 0 50%; flex: 0 0 50%; max-width: 50%; }
  .col-lg-7 { -webkit-box-flex: 0; -webkit-flex: 0 0 58.333333%; -ms-flex: 0 0 58.333333%; flex: 0 0 58.333333%; max-width: 58.333333%; }
  .col-lg-8 { -webkit-box-flex: 0; -webkit-flex: 0 0 66.666667%; -ms-flex: 0 0 66.666667%; flex: 0 0 66.666667%; max-width: 66.666667%; }
  .col-lg-9 { -webkit-box-flex: 0; -webkit-flex: 0 0 75%; -ms-flex: 0 0 75%; flex: 0 0 75%; max-width: 75%; }
  .col-lg-10 { -webkit-box-flex: 0; -webkit-flex: 0 0 83.333333%; -ms-flex: 0 0 83.333333%; flex: 0 0 83.333333%; max-width: 83.333333%; }
  .col-lg-11 { -webkit-box-flex: 0; -webkit-flex: 0 0 91.666667%; -ms-flex: 0 0 91.666667%; flex: 0 0 91.666667%; max-width: 91.666667%; }
  .col-lg-12 { -webkit-box-flex: 0; -webkit-flex: 0 0 100%; -ms-flex: 0 0 100%; flex: 0 0 100%; max-width: 100%; }

  .justify-content-lg-start { -webkit-box-pack: start !important; -webkit-justify-content: flex-start !important; -ms-flex-pack: start !important; justify-content: flex-start !important; }
  .justify-content-lg-end { -webkit-box-pack: end !important; -webkit-justify-content: flex-end !important; -ms-flex-pack: end !important; justify-content: flex-end !important; }
  .justify-content-lg-center { -webkit-box-pack: center !important; -webkit-justify-content: center !important; -ms-flex-pack: center !important; justify-content: center !important; }
  .justify-content-lg-between { -webkit-box-pack: justify !important; -webkit-justify-content: space-between !important; -ms-flex-pack: justify !important; justify-content: space-between !important; }
  .justify-content-lg-around { -webkit-justify-content: space-around !important; -ms-flex-pack: distribute !important; justify-content: space-around !important; }
  .align-items-lg-start { -webkit-box-align: start !important; -webkit-align-items: flex-start !important; -ms-flex-align: start !important; align-items: flex-start !important; }
  .align-items-lg-end { -webkit-box-align: end !important; -webkit-align-items: flex-end !important; -ms-flex-align: end !important; align-items: flex-end !important; }
  .align-items-lg-center { -webkit-box-align: center !important; -webkit-align-items: center !important; -ms-flex-align: center !important; align-items: center !important; }

  .order-lg-first { -webkit-box-ordinal-group: 0; -ms-flex-order: -1; order: -1;}
  .order-lg-last { -webkit-box-ordinal-group: 14; -ms-flex-order: 13; order: 13;}
  .order-lg-0 { -webkit-box-ordinal-group: 1; -ms-flex-order: 0; order: 0;}
  .order-lg-1 { -webkit-box-ordinal-group: 2; -ms-flex-order: 1; order: 1;}
  .order-lg-2 { -webkit-box-ordinal-group: 3; -ms-flex-order: 2; order: 2;}
  .order-lg-3 { -webkit-box-ordinal-group: 4; -ms-flex-order: 3; order: 3;}
  .order-lg-4 { -webkit-box-ordinal-group: 5; -ms-flex-order: 4; order: 4;}

  .d-lg-none { display: none !important; }
  .d-lg-inline { display: inline !important; }
  .d-lg-inline-block { display: inline-block !important; }
  .d-lg-block { display: block !important; }

  .text-lg-left { text-align: left !important; }
  .text-lg-center { text-align: center !important; }
  .text-lg-right { text-align: right !important; }
  .text-lg-justify { text-align: justify !important; }

  .h1, h1 { font-size: 4.25rem; }
  .h2, h2 { font-size: 3.375rem; }
  .h3, h3 { font-size: 2.5rem; }
  .h4, h4 { font-size: 1.75rem; }
  .h5, h5 { font-size: 1.25rem; }
  .h6, h6 { font-size: 1rem; }

  .modal-heading {
    font-size: 2.25rem;
    font-weight: 300;
  }

}

@media (min-width: 1200px){

  #header .container,
  #footer .container {
    max-width: 76rem;
  }

}